<tr>
  <td class="text-center"><%= placement.order.id %></td>
  <td class="text-center"><%= placement.order.client_name %></td>
  <td class="text-center"><%= placement.order.cre_date %></td>
  <td class="text-center"><%= placement.quantity %></td>
  <td class="text-center"><%= placement.status_str %></td>
</tr>
