<% 
    if action_name == 'show_pending_orders'
      disabled = ORDER_STATUSES.values
    else
      disabled = [ACTIVE_ORDER,CANCELLED_ORDER] 
    end
%>
<tr>
  <td class="text-center"><%= placement.order.id %></td>
  <td><%= placement.order.client_name %></td>
  <td class="text-center"><%= placement.order.cre_date %></td>
  <td class="text-center"><%= placement.quantity %></td>
  <td class="text-center"><%= placement.quantity - placement.shipped %></td>
  <td class="text-center">
    <% if placement.shipped? || action_name == 'show_pending_orders' %>
      <%= placement.shipped %> 
    <% else %>
     <%= simple_form_for placement, url: update_shipped_placement_path(placement), html: { class: "form" } do |f| %>
       <div class="form-group" style="padding-top: 10px;">
         <%= f.input :shipped, as: :string, label: false, input_html: { onchange: 'this.form.submit();' }  %>
       </div>
     <% end %>
   <% end %>
  </td>

  <td class="text-center"> <%= placement.status_str %> </td>
</tr>

