<%= render "shared/modal" %>

<div id="status"> </div>

<div class="table-wrapper-scroll-x">
<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Products</th>
        <th class="text-center">Ttl Pcs</th>
        <th class="text-center">Uploaded Date</th>
        <th class="text-center">Uploaded By</th>
        <th class="text-center">Status</th>
        <th colspan=3></th>
      </tr>
  </thead>
  <tbody>

  <%= render partial: 'inventory', collection: @inventories  %>

  </tbody>
</table>
</div>


<div class="bottom_nav">
<%= will_paginate @inventories, class: "btn" %>
</div>

<div class="row">
  <div class="col-md-2">
    <%= button_to "Download Inventory Template", inventory_template_path(format: :csv), class: "btn btn-success", method: :get  %>
  </div>
  <div class="col-md-2">
    <%= button_to "Upload Inventory file", new_inventory_path, class: "btn btn-primary", method: :get %>
  </div>
</div>

<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>

