<%= render "shared/modal" %>

<div id="status"> </div>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center"><%= sortable 'ref_code', 'Ref.Code' %></th>
	  <th class="tbl_md, text-center">Scale</th>
          <th class="tbl_lg">Description</th>
	  <th class="tbl_md, text-center">Category</th>
	  <th class="tbl_md, text-center">Brand</th>
          <th class="tbl_md, text-center">Pending <br> Orders</th>
          <th class="tbl_lsm text-center"><%= sortable 'quantity', 'Quantity' %></th>
      </tr>
  </thead>
  <tbody>

  <%= render partial: 'product', collection: @products, as: :product, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="bottom_nav">
<%= will_paginate @products, class: "btn" %>
</div>

