<tr>
  <td class='text-center'><%= link_to client_mail.id, client_mail  %></td>
  <td><%= client_mail.title %></td>
  <td class='text-center'><%= client_mail.ts_sent %></td>
  <td class='text-center'><%= client_mail_category_str(client_mail.category) %></td>
  <td class='text-center'><%= client_category_str(client_mail.client_type) %></td>
  <td><%= client_mail.created_at %></td>
  <% if client_mail.target_email_count > 0 %>
    <td class='text-center'><%= link_to client_mail.target_email_count, show_target_client_mail_path(client_mail) %></td>
  <% else %>
    <td></td>
  <% end %>

  <% if current_user.admin? %>
       <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_client_mail_path(client_mail) %> </td>
       <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, client_mail, method: :delete, data: { confirm: "Are you sure you want to delete #{client_mail.title}?" } %> </td>
  <% end %>
 </tr>
