<div class='email-header'>
New Registration: <%= @user.email %>
</div>


  <p>New user "<%= @user.name %>", role: <%= @user.role %>  with email <%= @user.email %> registered online on <%= @user.created_at %> </p>


<div style="clear:both">

<p>&nbsp;</p>
<p>
<%= button_to "Show new user's profile", edit_user_url(@user), class: "email-btn" %>
</p>

</div>
