<tr>
  <td class="text-center"><%= link_to packing_list.name, packing_list %></td>
  <td class="text-center"><%= packing_list.description %></td>
  <td class="text-center"><%= packing_list.created_at.to_date %> </td>
  <td class="text-center"><%= packing_list.orders %></td>
  <td class="text-center"><%= packing_list.products %></td>
  <td class="text-center"><%= packing_list.pcs %></td>
  <td class="text-center"><%= packing_list.status_str %></td>
  <td class="text-center">edit here</td>
</tr>
