<tr>
  <td class="text-center"> <%= link_to placement.order_id, order_placements_path(placement.order_id), remote:true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
  <td class="text-center"> <%= placement.order.client_name %> </td>
  <td class="text-center"> <%= placement.product.ref_code %> </td>
  <td class="text-center"> <%= placement.quantity %> </td>
  <td class="text-center"> <%= placement.to_ship %> </td>
</tr>
