<% provide(:title, 'All users') %>
<%= render "shared/modal", size: 'md' %>

<% scroll = "table-wrapper-scroll-x" if mobile_device? %>
<table class="tbl2 table-hover table-striped table-bordered <%= scroll %>" >
   <thead>
      <tr>
          <th><%= sortable 'name', 'Username' %></th>
          <th><%= sortable 'email', 'Email' %></th>
          <th class='text-center'><%= sortable 'role','Role' %></th>
          <th class='text-center'>Confirmed?</th>
          <th>Client</th>
          <th class='text-center'><%= sortable 'created_at', 'Created' %></th>
          <th class='text-center'><%= sortable 'sign_in_count', 'Sign In Count' %></th>
          <th class="text-center"><%= sortable 'current_sign_in_ip', 'Last Login IP' %></th>
          <th class="text-center"><%= sortable 'current_sign_in_at', 'Last Login' %></th>
          <th class='text-center'>Invited By</th>
          <th class='text-center tbl_sm'>Edit</th>
          <% if current_user.su? %>
          <th class='text-center tbl_sm'>Sw.To</th>
          <th class='text-center tbl_sm'>Del</th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  Users:   <%= @users.count %>

  <%= render @users %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @users, class: "btn" %>
<%# button_to "Add User", new_user_registration_path, class: "btn btn-primary col-md-2 ", method: 'get'  %>
</div>
