<%
   provide(:title, 'Order details')
   @client ||= @order.client
   @placements ||= @order.placements
%>
 
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <% if current_user.client? %>
    <b class="modal-title" id="myModalLabel"><%= @order.status_str %> Order #<%= @order.id %> received on <%= @order.cre_date %></b>
  <% else %>
    <b class="modal-title" id="myModalLabel"><font color="#777"><%= @client.name %></font>: <%= @order.status_str %> <%= @order.paid ? 'Paid':'' %> Order # <%= @order.id %> received on <%= @order.cre_date %> - <%= @order.made_by %></b>
  <% end %>
</div>

<div class="modal-body">
  <div class="well">

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm text-center">Product</th>
          <th class="tbl_sm text-center">Code</th>
          <th class="tbl_sm text-center">Scale</th>
          <th class="tbl_sm text-center">Color</th>
          <th class="tbl_lg text-center">Description</th>
          <th class="tbl_md text-center">Price <%= @client.price_type_str %></th>
          <th class="tbl_md text-center">Total</th>
          <th class="tbl_md text-center">Quantity</th>
          <th class="tbl_md text-center">Pending/ Active</th>
          <th class="tbl_md text-center">Shipped</th>
          <th class="tbl_md text-center">Status</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <%= render @placements %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=6></th>
      <th class="text-center"><%= to_currency @order.total_price, locale: @client.locale %></th>
      <th class="text-center"><%= @order.total_pcs %></th>
      <th class="text-center"><%= @order.pending %></th>
      <th class="text-center"><%= @order.shipped %></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>

<p>
<% if @order.shipping.positive? %>
  <div> Shipping & Handling : <%= to_currency @order.shipping, locale: @order.client.locale %> </div>
<% end %>

<% if @order.discount.positive? %>
  <div> Discount : <%= to_currency @order.discount, locale: @order.client.locale %> </div>
<% end %>

<% if @order.tax.positive? %>
  <div> Sales Tax (<%= @client.tax_pc %>%): <%= to_currency @order.tax, locale: @client.locale %></div>
<% end %>

<div><b> Grand Total : <%= to_currency @order.grand_total, locale: @order.client.locale %> </b></div>
</p>
<% if @order.pending?  %>
<div style="float:right">You can change ordered quantity for pending placements</div>
<% end %>

<% unless @order.shipped? || @order.cancelled? || current_user.client? %>
<div class="row">
<div class="col-md-2">
<%= button_to "Ship This Order", set_to_shipped_order_path(@order), class: "btn btn-primary", method: :patch, title: "Set all placements to 'Shipped'" %>
</div>
<% disabled = @order.paid? %>
<div class="col-md-2">
<%= button_to "Mark As Paid", mark_as_paid_order_path(@order), class: "btn btn-success", method: :patch, title: "Mark as 'Paid' and set all placements to 'Active' to prevent further changes", disabled: disabled %>
</div>
</div>
<% end %>

<div class="pt-5">
<%= @order.notes %>
</div>
</div>
</div>

<div class="modal-footer">
</div>
