<%
   provide(:title, 'Order details')
%>
 
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <% if current_user.client? %>
    <b class="modal-title" id="myModalLabel">Order  #<%= @order.id %> received on <%= @order.cre_date %> : <%= @order.total_pcs %> pcs</b>
  <% else %>
    <b class="modal-title" id="myModalLabel">Client <font color="#777">"<%= @client.name %>"</font> Order # <%= @order.id %> received on <%= @order.cre_date %> : <%= @order.total_pcs %> pcs</b>
  <% end %>
</div>

<div class="modal-body">
  <div class="well">

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center">#</th>
          <th class="tbl_sm, text-center">Product</th>
          <th class="tbl_sm, text-center">Scale</th>
          <th class="tbl_sm, text-center">Colour</th>
          <th class="tbl_sm, text-center">Description</th>
          <th class="tbl_sm, text-center">Price</th>
          <th class="tbl_md, text-center">Quantity</th>
          <th class="tbl_md, text-center">Total</th>
          <th class="tbl_md, text-center">Status</th>
      </tr>
  </thead>
  <tbody>
    <%= render @placements %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=6></th>
      <th class="text-center"><%= @order.total_pcs %></th>
      <th class="text-center"><%= to_currency @order.total_price, locale: @client.locale %></th>
      <th></th>
    </tr>
  </tfoot>
</table>

<p>
<% if @order.shipping.positive? %>
  <div> Shipping & Handling : <%= to_currency @order.shipping, locale: @order.client.locale %> </div>
<% end %>

<% if @order.discount.positive? %>
  <div> Discount : <%= to_currency @order.discount, locale: @order.client.locale %> </div>
<% end %>

<% if @order.tax.positive? %>
  <div> Sales Tax (<%= @client.tax_pc %>%): <%= to_currency @order.tax, locale: @client.locale %></div>
<% end %>

<div><b> Grand Total : <%= to_currency @order.total, locale: @order.client.locale %> </b></div>
</p>
</div>
</div>

<div class="modal-footer">
</div>
