<tr>
    <td class="text-center"><%= link_to placement.product.ref_code, product_path(placement.product_id) %></td>
    <td class="text-center"><%= placement.product.description %></td>
    <td class="text-center"><%= placement.price %></td>
    <td class="text-center"><%= placement.updated_at %></td>
    <td class="text-center"><%= placement.quantity %></td>
    <td class="text-center"><%= to_currency placement.total %></td>
</tr>
