<tr align='center'>
    <td><%= placement.product.ref_code %></td>
    <td><%= placement.product.description %></td>
    <td><%= placement.product.price_eu %></td>
    <td><%= placement.updated_at %></td>
    <td><%= placement.quantity %></td>
</tr>
