<tr align='center'>
    <td><%= link_to placement.product.ref_code, product_path(placement.product_id) %></td>
    <td><%= placement.product.description %></td>
    <td><%= placement.product.price_eu %></td>
    <td><%= placement.updated_at %></td>
    <td><%= placement.quantity %></td>
</tr>
