<%= render "shared/modal" %>

<div class="container">
<h3 class='display-1'>Shopping Cart </h3>
<div class="row">
  <div class="col-md-9">
<table class="table table-striped table-bordered" >
  <tbody>
<% grand_total = pos = total_quantity = 0 %>
<% @products.sort.each do |prod_and_qty| %>
  <% id, quantity = prod_and_qty %>
  <% product = Product.find(id) rescue nil%>
  <% next unless product && quantity %>
  <% product_total = @client.price(product)*quantity %>
  <% grand_total += product_total; pos += 1 %>
  <% total_quantity += quantity %>
  <tr>
    <td class="w-30">
      <img src="<%= product.normal_image_rel_path %>" class="img-fluid img-thumbnail"> 
    </td>
    <td>
      <div class='cart_product_header'><%= product.ref_code %>: <%= product.description %></div>
      Brand: <%= product.brand_str %>, Category: <%= product.category_str %>, Scale: <%= product.scale_str %> <br>
      Color: <%= product.colour_str %>, Weight: <%= product.weight.to_i %>g, Release Date: <%= product.release_date %> <br>
      <div class="pt-5"></div>
        <%= simple_form_for :placement, url: update_product_qty_path(product.id), method: :post, html: { class: "form-inline" } do |f| %>
            Qty:<%= f.input :quantity, label: false, input_html: {value: quantity, onchange: 'this.form.submit();', size: 3} %>
        Price: <%= to_currency @client.price(product), locale: @client.locale %> |
      <%= link_to 'Delete', delete_product_path(product) %>
        <% end %>
  </td>
  <td>
    <div class="cart_product_subtotal">
    <%= to_currency product_total, locale: @client.locale %></td>
    </div>
  </tr>
<% end %>

  </tbody>
</table>
</div>
<div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span style="font-size: 1.2em;">Subtotal (<%= total_quantity %> items): <%= to_currency grand_total, locale: @client.locale %></b>
    </div>
     <%= button_to 'Submit order', orders_path, class: "btn btn-success btn-block" %>
     <%= button_to "Clear Cart", empty_cart_path, class: "btn btn-primary", method: :get %>
  </div>
  <b>To be delivered by :</b> <%= @client.pref_delivery_by_str %>
</div>
</div> <!-- row ->

</div> 
