<%= render "shared/modal" %>
<div style="clear: both" class="modal-title">
</div>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
        <th class="text-center"> Item# </th>
        <th class="text-center"> RefCode </th>
        <th class="text-center"> Scale </th>
        <th class="text-center"> Colour </th>
        <th> Name </th>
        <th class="text-center"> Quantity </th>
        <th class="text-center"> Price </th>
        <th class="text-center"> Subtotal </th>
      </tr>
  </thead>
  <tbody>

<% grand_total = pos = total_quantity = 0 %>
<% @products.each do |prod_and_qty| %>
  <% id, quantity = prod_and_qty %>
  <% product = Product.find(id) rescue nil%>
  <% next unless product %>
  <% product_total = @client.price(product)*quantity %>
  <% grand_total += product_total; pos += 1 %>
  <% total_quantity += quantity %>
  <tr>
  <td class="text-center"><%= pos %></td>
  <td class="text-center"><%= product.ref_code %></td>
  <td class="text-center">1:<%= product.scale %></td>
  <td class="text-center"><%= product.colour_str %></td>
  <td><%= product.description %></td>
  <td class="text-center"><%= quantity %></td>
  <td class="text-center"><%= to_currency @client.price(product), locale: @client.locale %></td>
  <td class="text-center"><%= to_currency product_total, locale: @client.locale %></td>
  </tr>
<% end %>

  </tbody>
  <tfoot>
    <tr>
      <th colspan=5></th>
      <th class="text-center"><%= total_quantity %></th><th></th>
      <th class="text-center"><%= to_currency grand_total, locale: @client.locale %></th>
    </tr>
  </tfoot>
</table>

  <div class="row">
  <div class="col-md-6">
  <%= button_to 'Submit order', orders_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-6">
  <%= button_to "Clear Cart", empty_cart_path, class: "btn btn-primary", method: :get %>
  </div>
  </div>
