<%= render "shared/modal" %>

<div class="help-container">
<h3 class='display-1'>Shopping Cart </h3>
<div class="row">
  <div class="col-md-8">
<table class="table table-striped" >
  <tbody>
<% grand_total = pos = total_quantity = 0 %>
<% @products.sort.each do |prod_and_qty| %>
  <% id, quantity = prod_and_qty %>
  <% product = Product.find(id) rescue nil%>
  <% next unless product && quantity %>
  <% product_total = @client.price(product)*quantity %>
  <% grand_total += product_total; pos += 1 %>
  <% total_quantity += quantity %>
  <tr>
    <td width='100px'>
       <img src="<%= product.normal_image_rel_path %>">
    </td>
    <td valign='top'>
      <div style="position:relative">
      <div class='cart_product_header'><%= product.description %></div><br>
      Ref# <%= product.ref_code %>, 
      Scale: 1:<%= product.scale %> Color: <%= product.colour_str %>, Weight: <%= product.weight.to_i %>g<br>
      Release Date: <%= product.release_date %> <br>
      <div style='position:absolute; top:40%; height:10em; margin-top: 6em'> 
        <%= simple_form_for :placement, url: update_product_qty_path(product.id), method: :post, html: { class: "form-inline" } do |f| %>
            Qty:<%= f.input :quantity, label: false, input_html: {value: quantity, onchange: 'this.form.submit();', size: 3} %>
        Price: <%= to_currency @client.price(product), locale: @client.locale %> |
      <%= link_to 'Delete', delete_product_path(product) %>
        <% end %>
      </div>
      </div>
  </td>
  <td valign="top">
    <div class="cart_product_subtotal">
    <%= to_currency product_total, locale: @client.locale %></td>
    </div>
  </tr>
<% end %>

  </tbody>
</table>
</div>
<div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span style="font-size: 1.2em;">Subtotal (<%= total_quantity %> items): <%= to_currency grand_total, locale: @client.locale %></b>
    </div>
     <%= button_to 'Submit order', orders_path, class: "btn btn-success btn-block" %>
     <%= button_to "Clear Cart", empty_cart_path, class: "btn btn-primary", method: :get %>
  </div>
  <b>To be delivered by :</b> <%= @client.pref_delivery_by_str %>
</div>
</div> <!-- row ->

</div> 
