<%= render "shared/modal" %>

<div class="col-md-8 col-md-offset-2">
  <% if current_user.client? %>
         <h3 class='display-1'> Order #<%= @order.id %> <%= @order.cre_date %> %> </h3>
  <% else %>
    <h3 class='display-1'>Client <%= @client.name %>: Order # <%= @order.id %>- details</h3>
  <% end %>
<div class="well">

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center">Product</th>
          <th class="tbl_sm, text-center">Scale</th>
          <th class="tbl_sm, text-center">Colour</th>
          <th class="tbl_sm, text-center">Description</th>
          <th class="tbl_sm, text-center">Price <%= @client.price_type_str %></th>
          <th class="tbl_md, text-center">Quantity</th>
          <th class="tbl_md, text-center">Delivery By</th>
          <th class="tbl_md, text-center">Total</th>
      </tr>
  </thead>
  <tbody>
<%= render @placements, remote: device_is_desktop? %>
  </tbody>
</table>

<p>
<div> Shipping & Handling : <%= to_currency @order.shipping %> </div>
<div> Discount : <%= to_currency @order.discount %> </div>
<div><b> Grand Total : <%= to_currency @order.total %> </b></div>
</p>

<div class="bottom_nav">
<%= will_paginate @placements, class: "btn" %>
</div>

</div>
</div>
