<%= render "shared/modal" %>

  <% if current_user.client? %>
    <h3 class='display-1'><%= @order.status_str %> Order #<%= @order.id %> received <%= @order.cre_date %></h3>
  <% else %>
    <h3 class='display-1'>Client <%= @client.name %>: Order # <%= @order.id %> (<%= @order.status_str %>) </h3>
  <% end %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm text-center">Product</th>
          <th class="tbl_sm text-center">Code</th>
          <th class="tbl_sm text-center">Scale</th>
          <th class="tbl_sm text-center">Color</th>
          <th class="tbl_lg text-center">Description</th>
          <th class="tbl_sm text-center">Price <%= @client.price_type_str %></th>
          <th class="tbl_md text-center">Total</th>
          <th class="tbl_md text-center">Quantity</th>
          <th class="tbl_md text-center">Pending/ Active</th>
          <th class="tbl_md text-center">Shipped</th>
          <th class="tbl_md text-center">Status</th>
      </tr>
  </thead>
  <tbody>
<%= render @placements, remote: device_is_desktop? %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=6></th>
      <th class="text-center"><%= to_currency @order.total_price, locale: @client.locale %></th>
      <th class="text-center"><%= @order.total_pcs %></th>
      <th class="text-center"><%= @order.pending %></th>
      <th class="text-center"><%= @order.shipped %></th>
      <th></th>
    </tr>
  </tfoot>
</table>

<p>
<% if @order.shipping.positive? %>
  <div> Shipping & Handling : <%= to_currency @order.shipping %> </div>
<% end %>

<% if @order.discount.positive? %>
  <div> Discount : <%= to_currency @order.discount %> </div>
<% end %>

<% if @order.tax.positive? %>
  <div> Sales Tax (<%= @client.tax_pc %>%): <%= to_currency @order.tax, locale: @client.locale %></div>
<% end %>
<div><b> Grand Total : <%= to_currency @order.total, locale: @client.locale %> </b></div>
</p>

<div class="bottom_nav">
<%# will_paginate @placements, class: "btn" %>
</div>

<% unless  current_user.client? || @order.shipped? || @order.cancelled? %>
<div class="row">
<div class="col-md-4">
<%= button_to "Set Order To Shipped", set_to_shipped_order_path(@order), class: "btn btn-primary", method: :patch %>
</div>
</div>
<% end %>

