<tr>
  <td><%= manager.full_name %></td>
  <td><%= manager.phone %></td>
  <td><%= manager.email %></td>

  <% if current_user.admin? %>
       <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_manager_path(manager) %> </td>
       <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, manager, method: :delete, data: { confirm: "Are you sure you want to delete #{manager.full_name} from the list of managers?" } %> </td>
  <% end %>
 </tr>
