  <tr>
	<td><%= link_to client.name, client, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
	<td><%= client.code %></td> 
	<td><%= client.client_type %></td> 
	<td class="text-center"><%= client.price_type_str %></td> 
	<td class="text-center"><%= client.country_str %></td> 
        <td><%= client.contact_fname %></td>
        <td><%= client.contact_lname %></td>
        <td><%= client.contact_email %></td>
        <td><%= client.contact_phone %></td>
        <td> <% if client.user.present? %>
              Yes 
        <% else %>
            <%= link_to 'invite', send_invite_to_register_client_path(client) %>
            <% end %>
        </td>
        <td><%= client.vat %></td>

        <% if current_user.staff? || current_user.admin? %>
          <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_client_path(client), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
        <% end %>

        <% if current_user.admin? %>
          <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, client, method: :delete, data: { confirm: "Are you sure you want to delete #{client.name}?" } %> </td>
        <% end %>
     </tr>
