  <tr>
	<td><%= link_to client.name, client, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
	<td><%= client.code %></td> 
	<td class="text-center"><%= client.country_str %></td> 
	<td><%= client.client_type %></td> 
	<td class="text-center"><%= client.price_type_str %></td> 
        <td><%= client.contact_fullname %></td>
        <td><%= client.contact_email %></td>
        <td class="text-center"> 
          <%= client.registered_str %> 
        </td>
        <td class="text-center">
           <% label = client.registered? ? 'Re-Invite':'Invite' %>
           <%= link_to label, send_invite_to_register_client_path(client) %>
        </td>
        <td class="text-center"><%= client.vat %></td>
        <td class="text-center"><%= client.tax_pc.to_i %></td>

        <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_client_path(client), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>

        <% if current_user.su? || current_user.production?  %>
          <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, client, method: :delete, data: { confirm: "Are you sure you want to delete #{client.name}?" } %> </td>
        <% end %>
     </tr>
