<%= simple_form_for @client do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
  <div class="col-md-12">
  <%= f.input :name %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <%= f.input :cltype, collection: CLIENT_TYPES, label: "Type", include_blank: false %>
  </div>
  <div class="col-md-3">
    <% readonly = (action_name == 'edit')?true:false %>
    <%= f.input :price_type, collection: PRICE_TYPES,  include_blank: false %> 
  </div>
  <div class="col-md-3">
  <%= f.input :country, as: :country, include_blank: 'Please Select'  %>
  </div>
  <div class="col-md-3">
  <%= f.input :state_prov  %>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-10">
  <%= f.input :address %>
  </div>
  <div class="col-md-2">
  <%= f.input :zip_postal %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-6">
  <%= f.input :contact_email %>
  </div>
  <div class="col-md-6">
  <%= f.input :contact_phone %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-6">
  <%= f.input :contact_lname %>
  </div>
  <div class="col-md-6">
  <%= f.input :contact_fname %>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-6">
  <%= f.input :vat %>
  </div>
  <div class="col-md-6">
  <%= f.input :web, label: 'Website' %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
  <%= f.input :notes %>
  </div>
  </div>

  <% unless action_name == 'show' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>

<% end %>


