<pre>

<%# name, type, category, description, scale, release_date, price_eu, price_usd %>
	      Type:           <%= @client.client_type %>
	      Code:           <%= @client.code %>
	      Country:        <%= @client.country %>
	      Province/State: <%= @client.state_prov %>
	      Address:        <%= @client.address %>
	      Postal/Zip:     <%= @client.zip_postal %>
	      Contact Name:   <%= @client.contact_fullname %>
	      Email:          <%= @client.contact_email %>
	      Phone number:   <%= @client.contact_phone %>
	      Website:        <%= @client.web %>
	      VAT:            <%= @client.vat %>
              Price model:    <%= @client.price_type_str%>

</pre>
<div class="panel panel-info">
Description:   <%= @client.notes %>
</div>
