<%= render "shared/modal" %>

<% scroll = "table-wrapper-scroll-x" if mobile_device? %>
<table class="tbl2 table-hover table-striped table-bordered <%= scroll %>" >
  <thead>
      <tr>
        <th><%= sortable 'name', 'Client Name' %></th>
        <th><%= sortable 'code', 'Code' %></th>
        <th class="text-center"><%= sortable 'country', 'Country' %></th>
        <th><%= sortable 'cltype', 'Type' %></th>
        <th><%= sortable 'price_type', 'Price Type' %></th>
        <th><%= sortable 'contact_lname', 'Contact' %></th>
        <th><%= sortable 'contact_email', 'Contact Email' %></th>
        <th class="text-center tbl_sm"><%= sortable 'registered', 'Registered?' %></th>
        <th>Invite</th>
        <th class="text-center"><%= sortable 'vat', 'VAT#' %></th>
        <th class="text-center"><%= sortable 'tax_pc', 'Tax%' %></th>

        <% if current_user.staff? || current_user.admin? || current_user.su? %>
          <th>&nbsp;</th>
        <% end %>

        <% if current_user.su? %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @clients, remote: device_is_desktop?, cached: true %>

  </tbody>
</table>

<div class="row" style="clear: both;">
<div class="bottom_buttons">
<%= button_to "Add Client", new_client_path, class: "btn btn-primary col-md-2 col-sm-2", method: :get, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window'  %>
</div>

<div class="bottom_nav">
<%= will_paginate @clients, class: "btn" %>
</div>
</div>

<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>


