<h3>Staff Help Section</h3>

<a id="table_of_contents"></a>

<h4>Table of contents</h4>
<li> <%= link_to "Introduction", "#introduction" %> </li>
<li> <%= link_to "User Categories", "#user_categories" %> </li>
<li> <%= link_to "Workflow", "#workflow" %> </li>
<li> <%= link_to "Ordering", "#ordering" %> </li>
<li> <%= link_to "Navigation and Search", "#navigation" %> </li>
<li> <%= link_to "Menu Descriptions", "#menu_descriptions" %> </li> 
<ul> 
  <li><%= link_to "Products", "#products" %> </li>
  <li><%= link_to "Clients", "#clients" %> </li>
  <li><%= link_to "Orders", "#orders" %> </li>
  <li><%= link_to "Inventory", "#inventory" %> </li>
  <li><%= link_to "Documents", "#documents" %> </li>
  <li><%= link_to "Shipping from Packing List".html_safe, "#plist_shipping" %></li>
  <li><%= link_to "Inventory File Upload".html_safe, "#inventory_upload" %></li>
  <li><%= link_to "<i class='glyphicon glyphicon-menu-hamburger text-muted'></i> Hamburger Menu".html_safe, "#hamburger" %></li>
</ul>
<li><%= link_to "Back-up server notes", "#backup_server_notes" %> </li>
<li><%= link_to "Reporting errors. New feature proposals", "#reporting_errors" %> </li>

<p>&nbsp;</p>
<a id="introduction"></a>
<h4>Introduction</h4>

Ordering Management System, OMS in the future, was developed to handle ordering of car models by different categories of clients including retailers and distributors. While ordering is done exclusively by clients, that is users that have 'client' role assigned to them, all data is managed by 2 privileged roles: "staff" and "administrator". Staff user role has all required privileges to perform day to day operations and can be used by several staff members.  This section of the help file describes functionality available to staff users (see <%= link_to "User Categories", "#user_categories" %> below) 

<p>&nbsp;</p>
<a id="user_categories"></a>
<h4>User Categories</h4>
There are 5 categories of users in OMS:
<ul>
  <li>
    - <b>User</b> : anybody who registers online with ability to only look at the products available, without prices and ability to order them. 
  </li>
  <li>
    - <b>Client</b> : Anybody who is registered as a client, will be able to see products and order them. Currently there are 4 client categories in the system: "Distributar", "Retailer", "Press", and "Club".
  <li>
    - <b>Production</b> : manufacturing facility will be able to see current order situation and deal with shipments and inventories
  </li>
  <li>
    - <b>Staff </b>: can do everything, but change other user's profiles and privileges, delete clients  and manage managers and suppliers.
  </li>
  <li>
    - <b>Admin </b>: full control of the system, including assigning roles to users, adding managers and suppliers, deleting products, clients and orders.
  </li>
</ul>

<p>&nbsp;</p>
<a id="workflow"></a>
<h4>Workflow</h4>

As a staff member, you have privileges to create and modify client profiles (see Clients section in Menu Description pages below) as well as change product information. To enable ordering by the clients, they have to be first registered into the system. This can be done in 2 ways:

<p>&nbsp;</p>
<b>Scenario 1</b>
<ul>
<li> - If client is not in database yet, create new client record from 'Clients' index page by clicking on "Add Client" button at the bottom of the client list and filling out all required information. It's important to have all basic contact information filled out as it will be later used to generate documents such as Purchase Orders and Invoices. Make sure to add email address of the client, this is one most important field that's used to communicate with the client.</li>
<li> - Send an invitation to client to register by clicking on the icon in "invite" column in client list for this client. </li>
<li> - Client receives an invitation and goes to SignUp page to register. </li>
<li> - Client activates his account by clicking activation link sent to him in email and because this email address is already registered in the system as client, no further action on your part is required </li>
</ul>

<p>&nbsp;</p>
<b>Scenario 2</b>
<ul>
  <li> - Client visits the website and registers as unprivileged user. This user becomes active after client activates new registration by following the link sent to them in registration email </li>
  <li> - You, as a staff member receive email notification about new user registration. </li>
  <li> - You recognize the new user as a client and from user menu modify their profile, where you assign 'client' role to the new user and select client name from the list of known clients </li>
</ul>
After 'client' role is assigned to the user, they can log into the system and order products. They will be asked to change their password on sign in.

<p>&nbsp;</p>
<a id="ordering"></a>
<h4>Ordering</h4>

Ordering is done by registered clients. So, if you want to make an order on client's behalf, you will have to switch to the client's account in "Admin>Users" menu by clicking on <i class="glyphicon glyphicon-random"> </i> &nbsp; icon in client row. After you switch, you will see client's name in the header, which shows you that you are now logged as this client.
<p>
To order product, client goes to product list and clicks <Add> button in the last column for the product he wants to order. Item will be added to the shopping cart. Number of items can be adjusted later while viewing the cart before finalizing the order.

Once selection is finished and all products are added to the shopping cart, you can finalize the order by opening shopping cart to adjust order parameters, including the number of pieces for each item, and removing certain items from the cart. Once happy with your selection, click on <Submit Order> button or <Clear Cart> if you changed your mind and wish to abandon the order.

<p>
Once order is submitted several things will happen: 

<ul>
  <li> - Total order amount is calculated by adding shipping and tax, if any, and subtracting discount, if present, from total cart amount.
    Shipping is calculated based on sum of all item weights and client's shipping cost per Kg. 

    If no shipping is to be charged, set shipping_cost in client profile to 0. Tax (%) is associated with client and defaults to 0, which means Tax is included into the final amount by default.
         Only non-zero values will appear on generated P.O and invoice.
<li> - Order and all placements in it are given 'Pending' status </li>
<li> - Emails are sent: Order confirmation email to the user, Order notification to staff members and Low quantity notification to staff if number of available product is lower than system-defind threshold (LOW_QUANTITY_THRESHOLD)</li>
<li> - PO and Invoice for the new order are generated and order is assigned 'Pending' status </li>
<li> - Delivery method is set to Preferred Delivery value from CLient's profile. </li>
<li> - Payment Terms field is set to default terms value from CLient's profile. </li>
</ul>
<p>
Client is allowed to change the quantity of each placement up or down, as long as placement has "Pending" status. Once status changes to "Active", no further changes are allowed. Placement becomes active when order is marked as 'Paid', when PPO is generated or when one of the positions is shipped.
</p>

<p>
You, as staff member, can change the following attributes of submitted orders: 'Payment Method', 'Delivery By' and 'Payment Terms'. To change any of these, you can use  <i class='glyphicon glyphicon-edit'></i> link on orders page.
Order status is set automatically by the system with the exception of 'Cancelled' status. There are following four status values:
</p>

<ul>
  <li>Pending</li>
  <li>Active</li>
  <li>Shipped</li>
  <li>Cancelled</li>
</ul>
</p>

<p>
Initially, order, as well as each individual item in it, is given "Pending" status. At certain point, when number of pending orders for the product is high, you may decide to issue Production Purchase Order (PPO) to the factory. This is done by clicking on link in "Pending Orders" column on the inventory page. Once you click <b>[Create Production Purchase Order]</b> button in the modal that opens, PPO pdf will be created and all positions for the product in question in every order containing the product will be marked as "Active". You can only create one active PPO for any given product at a time. Once product is shipped from the factory, you, as responsible staff person clear active PPO by clicking on link in "Active PPO" column of the inventory. Modal window opens and you can use <b>[Download PPO]</b> or <b>[Mark All As Shipped]</b> buttons. When you click on <b>[Mark All As Shipped]</b> button, all positions in the PPO will be marked as shipped. Alternatively you could also mark each position in PPO as partially shipped by providing number of pieces shipped.
</p>
<p>
Order is assigned "Active" status once all positions in it are Active. Order is assigned "Shipped" status when all positions in it are shipped. Last column on orders page is used to Cancel order. Order cancelling means it, and every position in it, will be marked as inactive. Such an order can be recovered at a later stage, if needed, and made active again. Cancelled orders are not taken into account in totals calculations and in the reports. They are also ignored during generation of export files. Cancelled orders are highlighted in red in Orders list.
</p>

<p>&nbsp;</p>
<pre>
More About Status

Active: 

1. Placement becomes active when PPO that contains it is created 
2. Order becomes active when one of the placements within it is marked as active
3. PPO becomes active on creation

Shipped:

1. Placement is marked as shipped when all pieces in it are shipped
2. Order is marked as shipped when all placements within it are shipped
3. PPO is marked as shipped when all positions within it are shipped
</pre>

<pre>
More About Avalable Stock

Currently available stock is updated by dedicated person that knows situation at the warehouse. This person downloads Inventory Template File every week, 
fills  out quantity  column and then uploads  the  same  file using "Upload Inventory" button. If file has no errors, "Stock" column will be updated with 
supplied values. Stock column can also be manually updated.  Other than that, value in this column is not adjusted by the system. System only keeps track
of pending/active/shipped orders. 
</pre>


<p>&nbsp;</p>
<a id="navigation"></a>
<h4>Navigation & Search</h4>

Navigating through pages in OMS is pretty straightforward. All pages have pagination footer at the bottom of the page where you can either go back and forth by one page, or select page number and go directly to it. As a productivity shortcut, you can also use <back> and <forward> keys on your keyboard to flip through pages.
<p>
Search box is located in the header an is context-sensitive. That is in Products page you can use it to search for products, in Clients page for client and so forth. Currently products can be searched using complete or partial reference codes, complete or partial name. Client search supports searches by name and country code. 

<p>&nbsp;</p>
<a id="menu_descriptions"></a>
<h4>Menu Descriptions</h4>

<p>&nbsp;</p>
<!-- Products index page -->
<a id="products"></a>
<dt class="col-sm-1">Products</dt>

<dd class="col-sm-11">This page shows list of all active products currently in database. Reference Code column is linked to product profile. Edit icon, <i class="glyphicon glyphicon-edit"></i> will take you directly to <Edit Product> form, where you can change all product attributes, except reference code. Optional "notes' field is only visible to staff and admins and can be used to store product-related notes. 
"Pending" column shows current number of pieces in all pending orders.
Sorting: most columns can be sorted in ascending or descending order by clicking on the column header.
Supported searches: by reference code, description and scale.
</dd>

<p>&nbsp;</p>
<!-- Clients index page -->
<a id="clients"></a>
<dt class="col-sm-1">Clients</dt>

<dd class="col-sm-11">List of clients in database. Client name column (first) is linked to client profile. Edit icon, <i class="glyphicon glyphicon-edit"></i> will take you directly to <Edit Client> form, where you can change client attributes. Required attributes of Client form are: Name, Type, Price Type, Country and Email.
"Registered" column will show if client received and confirmed an invitation email. "Invite" column can be used to invite clients to register.
Make sure that email of the client on file is current.
Sorting: most columns can be sorted in ascending or descending order by clicking on the column header.
Supported searches: by name, country and price type
</dd>

<p>&nbsp;</p>
<!-- Orders index page -->
<a id="orders"></a>
<dt class="col-sm-1">Orders</dt>

<dd class="col-sm-11">This page shows list of orders, most recent first. Client name column (first) is linked to client profile display form.
Next column, with order number, is linked to order page where you can see status of each placement and set the number of shipped pieces for each. Once any placement is marked as partially shipped, the order becomes active. Once all pieces in the placement are shipped, placement is marked as shipped. Once all placements in the order are shipped, order is marked "Shipped". To mark all placements at once as "Shipped" use "Set order as Shipped" button below order table.
"Items" column shows number of different products ordered, 'Pcs' column has total number of pieces ordered of this particular product. "Shipped" column contains number of shipped pieces so far. 'Invoice' and 'PO' columns have links to corresponding PDF files.
Last two columns are "Edit" and "Cancel". "Edit" will open a form that can be used to enter order Payment Method, Delivery company and Payment terms, as well as order notes. 
"Cancel" colum allows you to cancel pending orders. "Active" or "Shipped" orders cannot be canceled, so there will be no link present in this case.
Totals table at the bottom of the first page shows grand total value of all orders in Euros using current USD/EUR FX conversion rate. This table is context-sensitive, which means that numbers shown will summarize current search results. So in the context of product search, totals shown will summarize only product in question. Or, if seach was done for particular client, then totals will cover just the orders of that client.
</dd>

<!-- Inventory index page -->
<p>&nbsp;</p>

<a id="inventory"></a>
<dt class="col-md-1">Inventory</dt>
<dd class="col-md-11">
Inventory page shows current numbers of pieces ordered, as well as number of active orders and available pieces at the warehouse for each product.
If there are pending orders, they will be shown in corresponding column as number of orders/pieces link. This link opens "pending orders" modal, which will show all current orders for the product. To create Production Purchase Order you will click 'Create PPO" button below order table. Once you click that button, PPO pdf file will be generated and each order in it will become active. After PPO is generated it is sent to production so they could start working on it. When product becomes available, you can mark partial or complete shipments for each position in PPO. When all positions are shipped, PPO is marked as archived and "Total shipped" column is incremented accordingly. This column shows total all-time number, not just whatever was shipped for any particular order. Each time new shipment information is entered PPO pdf is regenerated. Delta column has number of pieces in addition to current orders. You as a staff member can modify this number. Stock column will have number of pieces currently available at the warehouse and should be entered by production role. Final column shows total inventory, which is Stock - (Delta + Active/Pending orders)

</dd>

<p>&nbsp;</p>
<!-- Documents index page -->
<a id="documents"></a>
<dt class="col-sm-1">Documents</dt>

<dd class="col-sm-11"> Documents section is used to create order reports based on client, product, timeframe, date range, detail and status. Three submenus are currently available: "Client reports", "Product Reports" and "PPOs". 

Client reports group information by client, while product reports are generated per product. Timeframe can be "Day", "Week", "Month", "Quarter", "Year" and "Date Range". If last option, "Date Range" is selected, 2 additional date controls will pop up: "Start Date" and "End Date". By default report includes all clients with orders. However, if client is selected from corresponding Drop-Down, then report will only include orders for selected client. Further, level of detail can be specified from Detail Drop-Down: "Totals Only" or "Itemized Orders". In the first case, report will contain 1 line per order showing only total amount and total number of purchased products, while in second case each order will have details for each  purchased items. 

<p>&nbsp;</p>
Reports are generated in PDF format and stored in "reports" directory on the server. In case any poarticular file is not present, instead of download icon question mark link is displayed, by clicking on it you can easily regenerate the report.

</dd>

<p>&nbsp;</p>
<!-- Hamburger menu -->
<a id="hamburger"></a>
<dt class="col-sm-1">Hamburger Menu</dt>

<dd class="col-sm-11"> 

<p><b><%= "<i class='glyphicon glyphicon-user'></i> My Profile".html_safe %> </b>: Edit logged in user profile. You can change your name, password and email on this page.   </p>
<p><b><%= "<i class='glyphicon glyphicon-euro'></i> Price Matrix".html_safe %></b>: Update current price models; Apply prices to all products in database </p>
<p><b><%= "<i class='glyphicon glyphicon-envelope'></i> Client Mailer".html_safe %></b>: Set up and send bulk email to group of clients </p>
<p><b><%= "<i class='glyphicon glyphicon-export'></i> Export Orders".html_safe %></b>: Create CSV file of all orders in the system </p>
<p><b><%= "<i class='glyphicon glyphicon-check'></i> Data Integrity Check".html_safe %></b>: Check for missing required fields in product and client tables </p>
<p><b><%= "<i class='glyphicon glyphicon-upload'></i> Product Image Upload".html_safe %></b>: Upload product picture here. All required thumbnails will be generated on the fly. In case the upload form is grayed-out, please refresh the page before uploading. Alternatively, in case of any browser-specific problems, click on the upload form to bring up "Open file" dialog and select your image file. </p>
<p><b><font color="red"><%= "<i class='glyphicon glyphicon-upload'></i></font> Packing List Upload".html_safe %></b>: Upload packing list to ship from.</p>
<p><b><font color="blue"> <%= "<i class='glyphicon glyphicon-upload'></i></font> Inventory File Upload".html_safe %></b>: Upload filled out inventory file here. Just drag and drop or select the CSV file from you computer and click "Upload". To get file template with most current product reference codes, use "Download Inventory Template" button on Documents>Inventory Files page </p>
<p><b><%= "<i class='glyphicon glyphicon-log-out'></i> Logout".html_safe %></b>: End current session</p>
</dd>


<p>&nbsp;</p>
<!-- Shipping from Packing List -->
<a id="plist_shipping"></a>
<dt class="col-sm-1">Shipping From Packing List</dt>

<dd class="col-sm-11"> 
In addition to shipping from Order and from Production Order (See Inventory above) it's possible to ship from Packing List.
The process is two stage. 
<ol>
<li>Packing List is uploaded to the server  </li>
<li>Packing list is processed and quantities/statuses are adjusted accordingly</li>
</ol>
<p>
<b>Uploading Packing List </b>
</p>
<p>
File format: Packing List uses comma-seperated value (CSV) format. First 3 colums are: "Order Id", "Reference Code" and "Quantity To Ship". The rest of the columns, if present, are currently ignored. <b>N.B! Files using delimiter other than comma will be silently ignored.</b>
When you open "Packing Lists" menu, you will see the list of active/archived packing lists, with active listed first. You cannot upload new packing list until active list is shipped. 
</p>
<p>
To upload new packing list, just drag and drop CSV file into upload form and press "Upload" button. The list will be validated for syntax and basic sanity check will be run. Each order number and product code  will be checked for existance and if not present in the system, appropriate error message will be generated. There's also validation of number of pieces to be shipped. This number cannot exceed number of pending/active pieces. And of course there's check against available inventory (stock column).  If everything is ok, the file will be accepted and uploaded to the server. Each corresponding placement will have updated "to_ship" attribute with number of pieces to be shipped, but nothing else will be changed at this point. Shipped quantities, order statuses and PPO pdfs will be updated during the next step. Freshly uploaded list will be given "Active" status and culums with number of orders, products and total number of pieces will be updated.
</p>
<p>
<b>Packing List processing</b>
</p>
<p>
Now you are ready to do actual shipping. Active list is shipped by simply clicking on "Ship it" link. When you do that, several things will happen:
<ol>
  <li> If shipped quantity of placement is the same as ordered quantity, placement will be marked as "Shipped" </li>
  <li> Ordered quantity will be reduced by the number of pieces shipped </li>
  <li> If all placements of the order are shipped, then order itself will be marked as "Shipped" </li>
  <li> If placement has associated PPO, it will be regenerated </li>
  <li> Packing List itself will be marked as "Archived" </li>
</ol>

<p>
Shipped files will be kept in the list of Packing Lists and can be downloaded/viewed when necessary. 

</dd>

<!-- Inventory File Upload -->
<a id="inventory_upload"></a>
<dt class="col-sm-1">Inventory File Upload</dt>

<dd class="col-sm-11">
Accessible from both "hamburger" menu and Documents>Inventory Files page, this function allows you to upload simple CSV inventory file. This file has just 2 columns as a minimum: 'Reference Code' and 'Number of Pcs Available". To help responsible person fill out this file, there's also "Download Inventory Template" button at the bottom of Documents>Inventoriy Files page. Clicking on this button will generate empty template with all the currently used product codes. File has also "Description", "Brand", "Category", "Color", "Scale" and "Notes" columns, just for reference. File should be filled and uploaded at regilar intervals, preferrably every week. On file upload "Stock" column for each corresponding product will be filled with values supplied in the file.

</dd>

<p>&nbsp;</p>

<a id="backup_server_notes"></a>
<dt class="col-sm-1">Notes about back-up server</dt>

<dd class="col-sm-11">
Backup server is currently accessible on port 8081 (https://apdoms.com:8081) and has the same version of the vebsite as production site, source code updated daily.
Database is copied from production server every night at 3am EST, so any changes made during the day for testing will be overwritten. Functionality of the backup website is the same except for emails. Order confirmation emails, low quantity alerts, other staff emails are not sent to prevent customers from receiving test order emails.
</dd>

<p>&nbsp;</p>
<a id="reporting_errors"></a>
<dt class="col-sm-1">Reporting errors. New feature proposals</dt>

<dd class="col-sm-11">
<p>
To streamline our communications and expedite bug fixes we will use "Bug Reports/New Feautures" section of the web site in the near future. In this new section you will be able to file your bug reports, assign priorities  and follow the status of the fix.
For new features/changes, you will be able to make a suggestions, describe the suggested way to resolve the issue and follow the status.
</p>

<p>
For now, before this new section is available, please provide the following information in direct email to me with each bug report:
<ul>
  <li> id or email of the user reporting the bug </li>
  <li> id or code of the client, if logged in as client, or if error was experienced by client </li>
  <li> order number, if applicable </li>
  <li> Timestamp(Date/Time) of the error </li>
  <li> On which server this error was noticed (production/Backup) </li>
  <li> Reference code or id  of the product, if applicable </li>
  <li> Screenshot of the FULL SCREEN, not just a small portion of it, during the time error was experienced, unless it was client error </li>
  <li> File attachment, if error was caused by file upload/download/viewing </li>
  <li> Short description of the problem </li>
  <li> Platform/browser used </li>
</ul>

<p>
For new features/changes please provide your suggested solution, if possible. For example, if you think that CVS client report format can be improved, provide short excel/CVS file showing you suggested solution. 
</p>



</dd>
