<% cl = 'table-danger' if order.cancelled? %>
<% cl = 'table-info' if order.by_client? %>

<tr class="<%= cl %>">

<td class="text-center">
<% if order.shipped? %>
  <%= link_to order.id, order, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %>
<% else %>
  <%= link_to order.id, order %>
<% end %>
</td>

<td class="text-center"><%= order.products.count %></td>
<td class="text-center"><%= order.total_pcs %></td>
<td class="text-center"><%= order.shipped %></td>
<td class="text-center"><%= order.cre_date %></td>
<td class="text-center"><%= order.weight %></td>
<td class="text-center"><%= order.terms_str %></td>
<td class="text-center"> <%= link_to order.po_number, download_po_order_path(order) %> </td>
<td class="text-center"><%= order.delivery_by %></td>
<td class="text-center"> <%= order.status_str %> </td>
<td class="text-center"><%= to_currency order.total, locale: order.client.locale %></td>
</tr>
