<%= simple_form_for @order do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% delivery_by = @order.delivery_by || @order.client.pref_delivery_by %>
  <% terms = @order.terms  ||  @order.client.default_terms %>

  <div class="row" %>
  <div class="col-md-4">
  <%= f.input :pmt_method, collection: PAYMENT_METHODS, label: "Payment Method", include_blank: false %>
  </div>
  <div class="col-md-4">
  <%= f.input :delivery_by, collection: Shipper.all, value_method: :name, include_blank: false %>
  </div>
  <div class="col-md-4">
  <%= f.input :terms, collection: PAYMENT_TERMS, label: 'Payment Terms', include_blank: false %>
  </div>
  </div>

  <%= render 'placements/placements' %>

  <div class="row" %>
  <div class="col-md-12">
  <%= f.input :notes, as: :text, hint: "text entered here will appear on the invoice", input_html: {rows:4} %>
  </div>
  </div>
  
  <%= f.submit 'Submit Changes', class: "btn btn-primary" %>

<% end %>  
