<%
   provide(:button_text, 'Edit Order')
%>

<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <b class="modal-title" id="myModalLabel">Client <font color=#777><%= @order.client.name %>:</font> Edit Order #<%= @order.id  %> (<%= @order.status_str %>)</b>
</div>
<div class="modal-body">
  <%= render 'edit_form' %>

  <% unless @order.shipped? %>
  <%= button_to "Set Order To Shipped", set_to_shipped_order_path(@order), class: "btn btn-success", method: :patch %>
  <% end %>
</div>

<div class="modal-footer">
</div>
