<tr>
        <% unless current_user.client? %>
        <td><%= link_to order.client.name, client_path(order.client_id) %></td>
        <% end %>
        <td class="text-center"><%= link_to order.id, order_placements_path(order.id) %></td>
        <td class="text-center"><%= order.updated_at %></td>
        <td class="text-center"><%= order.po_number %></td>
        <td class="text-center"><%= order.total %></td>
</tr>
