<% if current_user.staff?  %>
   <% cl = 'table-danger' if order.status == CANCELLED_ORDER %>
<% end %>

<tr class="<%= cl %>">
<td><%= link_to order.client.name, client_path(order.client_id), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td>
<td class="text-center"><%= link_to order.id, order_placements_path(order.id), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td>
<td class="text-center"><%= order.products.count %></td>
<td class="text-center"><%= order.items_count %></td>
<td class="text-center"><%= order.cre_date %></td>
<td class="text-center"><%= order.terms_str %></td>
<td class="text-center"> <%= link_to order.po_number, download_po_order_path(order) %> </td>
<td class="text-center"><%= link_to order.inv_number, download_invoice_order_path(order) %></td>
<td class="text-center"><%= order.delivery_by %></td>
<td class="text-center"> <%= order.status_str %> </td>
<td class="text-center"><%= to_currency order.total, locale: order.client.locale %></td>
<td class="text-center"> <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_order_path(order), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>

<td class="text-center"> 
<% if order.status == PENDING_ORDER %>
    <%= link_to '<i class="glyphicon glyphicon glyphicon-ban-circle"></i>'.html_safe, cancel_order_path(order), data:{ confirm: "Are you sure you want to cancel order # #{order.id}? Order will stay in the system, but will be marked as Cancelled" } %> 
<% end %>

</tr>
