<%= render "shared/modal" %>

<% if @orders.any? %>
<p></p>
<table class="tbl2 table-hover table-striped table-bordered" >
<%= render "#{current_user.role}_header" %>
  
<tbody>
<%= render @orders, remote: device_is_desktop?  %>
</tbody>

<%= render "#{current_user.role}_footer" %>  

</table>

<div class="row">
<div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
</div>
</div>

<% end %>


