<%= render "shared/modal" %>

<% if @orders.any? %>
<% first_page = params[:page] == '1' || params[:page].blank? %>
<p></p>
<%= render "totals_header" if first_page %>
<% @orders = @orders.paginate(page: params[:page]) %>

<div style="float:right"><small>Cancelled orders are highlighted in red</small></div>
<table class="tbl2 table-hover table-striped table-bordered" >
<%= render "#{current_user.role}_header" %>
  
<tbody>
<%= render @orders, remote: device_is_desktop?  %>
</tbody>
</table>

<div class="row">
  <div class="col-md-6">
<% if (current_user.staff? || current_user.admin? || current_user.su?) && first_page %>
  <%= render "totals_table" %>
<% end %>
  </div>

  <div class="col-md-6">
  <div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
  </div>
  </div>
</div>

<% end %>

<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>

