<%= render "shared/modal" %>

<% if @orders.any? %>
<p></p>
<table class="tbl2 table-hover table-striped table-bordered" >
<%= render "#{current_user.role}_header" %>
  
<tbody>
<%= render @orders, remote: device_is_desktop?  %>
</tbody>
</table>

<div class="row">
  <div class="col-md-6">
<% if (current_user.staff? || current_user.admin?) && params[:page] == '1' %>
  <%= render "totals_table" %>
<% end %>
  </div>

  <div class="col-md-6">
  <div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
  </div>
  </div>
</div>

<% end %>


