<%= render "shared/modal" %>

<% if @orders.any? %>
<% first_page = params[:page] == '1' || params[:page].blank? %>
<% show_totals = first_page && params[:show_totals].present? %>
<p></p>
<%= render "totals_header" if first_page %>

<div style="float:right"><small>Cancelled orders are highlighted in red; orders by client in blue</small></div>
<% scroll = "table-wrapper-scroll-x" if mobile_device? %>
<table class="tbl2 table-hover table-striped table-bordered <%= scroll %>" >
<%= render "#{current_user.role}_header" %>
  
<tbody>
<%= render @orders, remote: device_is_desktop?  %>
</tbody>
</table>

<div class="row">
  <div class="col-md-6 pt-3">
    <% if show_totals %>
      <%= render "totals_table" %>
    <% else %>
      <%= link_to 'Show Totals', orders_path(show_totals: 1) %>
    <% end %> 
  </div>

  <div class="col-md-6">
  <div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
  </div>
  </div>
</div>

<% end %>

<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>

