<%= render "shared/modal" %>

<% if @orders.any? %>
<p></p>
<table class="tbl2 table-hover table-striped table-bordered" >
<%= render "#{current_user.role}_header" %>
  
<tbody>
<%= render @orders, remote: device_is_desktop?  %>
</tbody>
</table>

<div class="row">
  <div class="col-md-6">
<table  class="table table-sm table-responsive table-condensed table-bordered">
  <thead>
  <tr>
    <th class="table-condensed"> Grand Total </th>
    <th class="table-condensed"> Pending Orders </th>
    <th class="table-condensed"> Back Orders </th>
    <th class="table-condensed"> Shipped Orders </th>
    <th class="table-condensed"> Cancelled Orders </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= to_currency @orders.sum(:total) %></td>
    <td> <%= to_currency @orders.where(status: PENDING_ORDER).sum(:total) %> </td>
    <td> <%= to_currency @orders.where(status: BACK_ORDER).sum(:total) %> </td>
    <td> <%= to_currency @orders.where(status: SHIPPED_ORDER).sum(:total) %></td>
    <td>  <%= to_currency @orders.where(status: CANCELLED_ORDER).sum(:total) %></td>
  </tbody>
</table>
</div>
<div class="col-md-6">
<div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
</div>
</div>
</div>

<% end %>


