<%= render "shared/modal" %>
<% locale = @client.locale rescue :fr %>

<% if current_user.client? %>
  <%= render "shared/shopping_cart" %>
<% end %>

<% unless current_user.client? %>
  <% selected = @client.id rescue nil %>
  <%= simple_form_for :order, url: orders_path, method: :get, html: { class: "form-inline" } do |f| %>
    <b>Filter By Client:</b> <%= f.input :client_id, collection: get_clients_with_orders, label: false, 
                               selected: selected,
                               include_blank: 'All', input_html: {onchange: 'this.form.submit();'} %>
  <% end %>
<% end %>

<p></p>
<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <% unless @client.present? %>
          <th class="tbl_md, text-center">Client</th>
          <% end %>
          <th class="tbl_sm, text-center">Order #</th>
          <th class="tbl_sm, text-center">Web Order Id</th>
          <th class="tbl_md, text-center">Date</th>
          <th class="tbl_md, text-center">Status</th>
          <th class="tbl_md, text-center">PO#</th>
          <th class="tbl_md, text-center">Total</th>
      </tr>
  </thead>
  <tbody>
<%= render @orders, remote: device_is_desktop? %>
  </tbody>

<tfoot>
  <tr>
    <% if @client.present? %>
    <th colspan=5></th>
    <th class="text-center"><%= to_currency Client.orders_total(@orders), locale: locale %></th>
    <% end %>
  </tr>
</tfoot>
</table>
<!-- always in base currency: -->
<b>Grand Total: <%= to_currency @grand_total %></b> 

<% if current_user.client? %>
<div class="row">
<div class="bottom_buttons ">
<%= button_to "Add Order", new_order_path, class: "btn btn-primary col-md-2", method: :get %>
</div>
</div>
<% end %>


<div class="row">
<div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
</div>
</div>



