<%= render "shared/modal" %>
<% locale = @client.locale rescue :fr %>

<% if current_user.client? %>
  <%= render "shared/shopping_cart" %>
<% end %>

<% unless current_user.client? %>
  <% selected = @client.id rescue nil %>
  <div style="clear:both">
  <%= simple_form_for :order, url: orders_path, method: :get, html: { class: "form-inline" } do |f| %>
    <b> Filter By Client: </b>
    <%= f.input :client_id, collection: get_clients_with_orders, label: false, 
                               selected: selected,
                               include_blank: 'All', input_html: {onchange: 'this.form.submit();'} %>
  <% end %>
  </div>
<% end %>

<p></p>
<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <% unless @client.present? %>
          <th class="tbl_lg text-center">Client</th>
          <% end %>
          <th class="tbl_sm text-center">Order #</th>
          <th class="tbl_sm text-center">#Prod.</th> 
          <th class="tbl_md text-center">Date Created</th>
          <th class="tbl_lmd text-center">Purchase Order</th>
          <th class="tbl_md text-center">Invoice</th>
          <th class="text-center">Total</th>
          <th class="text-center">Status</th>
      </tr>
  </thead>
  <tbody>
<%= render @orders, remote: device_is_desktop?  %>
  </tbody>

<tfoot>
  <tr>
    <th colspan=5></th>
    <% if @client.present? %>
    <th class="text-center"><%= to_currency @orders.sum(:total), locale: locale %></th>
    <% else %>
    <th></th>
<!-- always in base currency: -->
    <th class="text-center"><%= to_currency @grand_total %></th>
    <% end %>
    <th></th>
  </tr>
</tfoot>
</table>

<% if current_user.client? %>
<div class="row">
<div class="bottom_buttons ">
<%= button_to "Add Product To Cart", new_order_path, class: "btn btn-primary col-md-2", method: :get, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window'  %>
</div>
</div>
<% end %>


<div class="row">
<div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
</div>
</div>



