<div>
  <div class='email-header'>New Order (#<%= @order.id %>) received from <%= @client.name %></div>

  <p>Ordered <%= @order.products.count %> <%= 'product'.pluralize(@order.products.count) %></p>
  
<table class='table table-striped table-bordered'> 
<thead>
  <tr>
    <th> Ref.Code </th>
    <th> Description </th>
    <th> Price/Unit </th>
    <th> Qty </th>
  </tr>
</thead>
<tbody>
<% @order.placements.each do |placement| %>
  <tr>
  <td><%= placement.product.ref_code %></td>
  <td><%= placement.product.description %> </td>
  <td><%= number_to_currency(placement.price, locale: @client.locale) %></td>
  <td><%= placement.quantity %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<div style="clear:both">
<p> Order Total: <%= number_to_currency(@order.total,locale: @client.locale) %></p>

<p>&nbsp;</p>
<p>
<%= button_to 'Follow this link to see the order online', orders_url(@client), class: "email-btn" %>
</p>

</div>
