<div>
<h3>Confirmation of your Order: #<%= @order.id %></h3>
<p>You ordered <%= @order.products.count %> <%= 'product'.pluralize(@order.products.count) %></p>
<p>&nbsp;</p>
  
<table class='table table-striped table-bordered'> 
<thead>
  <tr>
    <th> Ref.Code </th>
    <th> Description </th>
    <th> Price/Unit </th>
    <th> Qty. </th>
  </tr>
</thead>
<tbody>
<% @order.placements.each do |placement| %>
  <tr>
  <td><%= placement.product.ref_code %></td>
  <td><%= placement.product.description %> </td>
  <td><%= number_to_currency(placement.price, locale: @client.locale) %>
  <td><%= placement.quantity %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<div style="clear:both">
<p> Order Total: <%= number_to_currency(@order.total, locale: @client.locale) %></p> 

<p>&nbsp;</p>
<p>
You can see all your orders with us <%= link_to 'here', orders_url(@client) %> 
</p>

<p> Thank you for your business </p>
</div>
