<%= simple_form_for @price do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% readonly = (action_name == 'edit')? true : false %>  

  <div class="row">
  <div class="col-md-1"> </div>
  <div class="col-md-2">
  <%= f.input :scale, readonly: readonly %>
  </div>

  <div class="col-md-2">
  <%= f.input :category, collection: CATEGORIES, include_blank: false, readonly: readonly %>
  </div>

  <div class="col-md-2">
  <%= f.input :price_eu %>
  </div>
  
  <div class="col-md-2">
  <%= f.input :price_eu2 %>
  </div>

  <div class="col-md-2">
  <%= f.input :price_eu3 %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-1"> </div>
  <div class="col-md-2">
  <%= f.input :price_eu4 %>
  </div>

  <div class="col-md-2">
  <%= f.input :price_eu5 %>
  </div>
  
  <div class="col-md-2">
  <%= f.input :price_eu6 %>
  </div>

  <div class="col-md-2">
  <%= f.input :price_usd %>
  </div>

  <div class="col-md-2">
  <%= f.input :price_usd2 %>
  </div>
  </div>

  <% unless action_name == 'show' %>
  <div class="row">
    <div class="col-md-12">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

<% end %>


