<%= simple_form_for @price do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% edit = (action_name == 'edit')? true : false %>  

  <div class="row">
    <div class="col-md-3">
    <%= f.input :brand, collection: BRANDS, include_blank: false, disabled: edit %>
    </div>
    <div class="col-md-2">
    <%= f.input :scale, collection: SCALES, include_blank: false, disabled: edit %>
    </div>
    <div class="col-md-2">
    <%= f.input :category, collection: CATEGORIES, include_blank: false, disabled: edit %>
    </div>
  </div>

  <div class="row">
  <div class="col-md-2">
    <%= f.input :price_eu, label: "EU1 Price" %>
  </div>
  
  <div class="col-md-2">
    <%= f.input :price_eu2, label: "EU2 Price" %>
  </div>

  <div class="col-md-2">
    <%= f.input :price_eu3, label: "EU3 Price" %>
  </div>
  
  <div class="col-md-2">
    <%= f.input :price_eu4, label: "EU4 Price" %>
  </div>

  <div class="col-md-2">
    <%= f.input :price_eu5, label: "EU5 Price" %>
  </div>
  
  <div class="col-md-2">
    <%= f.input :price_eu6, label: "EU6 Price" %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-2">
    <%= f.input :price_usd, label: "USD1 Price" %>
  </div>

  <div class="col-md-2">
    <%= f.input :price_usd2, label: "USD2 Price" %>
  </div>
  
  <div class="col-md-2">
    <%= f.input :price_cny, label: "CNY Price" %>
  </div>
  </div>

  <% unless action_name == 'show' %>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

<% end %>


