  <tr>
        <td class='text-center'><%= price.scale_str %></td>
        <td class='text-center'><%= price.category_str %></td>
        <td class='text-center'><%= price.brand_str %></td>
        <td class='text-center'><%= to_currency price.price_eu %></td>
        <td class='text-center'><%= to_currency price.price_eu2 %></td>
        <td class='text-center'><%= to_currency price.price_eu3 %></td>
        <td class='text-center'><%= to_currency price.price_eu4 %></td>
        <td class='text-center'><%= to_currency price.price_eu5 %></td>
        <td class='text-center'><%= to_currency price.price_eu6 %></td>
        <td class='text-center'><%= to_currency price.price_usd, locale: :en %></td>
        <td class='text-center'><%= to_currency price.price_usd2, locale: :en %></td>
        <td class='text-center'><%= to_currency price.price_cny, locale: :cn %></td>
        <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_price_path(price),
          remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> 
        </td>
        <td class='text-center'><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, price, method: :delete, 
          data: { confirm: "Are you sure you want to delete this price rule?" } %> 
        </td>
  </tr>
