  <tr align='center'>
        <td><%= price.scale %></td>
        <td><%= price.price_eu %></td>
        <td><%= price.price_eu2 %></td>
        <td><%= price.price_usd %></td>
        <td><%= 'edit' %></td>
        <td><%= 'delete' %></td>
  </tr>
