<%= render "shared/modal" %>

<%= render 'price_filter' %>

<table class="table table-hover table-striped" >
  <caption>
    Products without matching rule will be ignored and their prices won't change. (See data integrity test for more details)
  </caption>
  <thead>
      <tr>
          <th class='text-center'>Scale</th>
          <th class='text-center'>Category</th>
          <th class='text-center'>Brand</th>
          <th class='text-center'>EU1 Price</th>
          <th class='text-center'>EU2 Price</th>
          <th class='text-center'>EU3 Price</th>
          <th class='text-center'>EU4 Price</th>
          <th class='text-center'>EU5 Price</th>
          <th class='text-center'>EU6 Price</th>
          <th class='text-center'>USD1 Price</th>
          <th class='text-center'>USD2 Price</th>
          <th class='text-center'>CNY Price</th>
          <th colspan=2></th>
      </tr>
  </thead>
  <tbody>

  <%= render @prices %>

  </tbody>
</table>

<p>&nbsp;</p>
<% notes = TableNote.find_by(table_name: 'prices').notes rescue '' %>
<div class="row">
<div class="col-md-12">
<div class="panel panel-info text-justify">
  <div class="panel-heading">Current Pricing Allocation Notes<span style="float: right"><%= link_to "<i class='glyphicon glyphicon-edit active'></i>".html_safe, edit_table_note_path(@table_note), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', method: :get %></span></div>
  <div class="panel-body" style="padding: 0;">
<pre ><%= notes.html_safe rescue '' %></pre>
</div>
</div>
</div>
</div>

  <div class="row">
    <div class="col-md-3">
    <%= button_to "Add New Price Rule", new_price_path, class: "btn btn-primary", remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', method: :get %>
    </div>
    <div class="col-md-3">
    <%= button_to "Apply Prices to All Products", apply_price_rules_to_products_path, class: "btn btn-warning mr-1", method: :post %>
    </div>

    <div class="col-md-4">
      <%= button_to "Apply Prices To All Pending Placements", apply_price_rules_to_orders_path, class: "btn btn-danger mr-1", method: :post,  data: { confirm: "Are you sure you want to modify prices of all pending orders? This might take a minite or two. Please do not interrupt"} %>
    </div>
  </div>

  <div class="p-4"></div>
   <p>* After changing existing or adding new prices, press "APPLY PRICE RULES" button. Otherwise prices won't change. </p>
   <p>** New prices will be applied only to products for which price rule exists in price matrix. The rest will be left unchanged. You can check for missing price rules with "Data Integrity Check" command accessible in top left sandwich menu. </p>
   <p>*** When you change prices of pending orders, all related documents, including POs and invoices, as well as order totals will change accordingly. Reports will be excluded from this operation and will reflect old prices/totals.
