<pre>
              Description:   <%= @product.description %>
              Scale:         <%= @product.scale_str %>
              Colour         <%= @product.colour_str %>
              Weight         <%= @product.weight.to_i %>g
              Category:      <%= @product.category_str %>
              Brand:         <%= @product.brand_str %>
              Cartons:       <%= @product.ctns %>
              Date Added :   <%= @product.added_date_str %>
              Release Date : <%= @product.release_date || 'Not set' %>
              Supplier :     <%= @product.supplier_str %>
              Manager :      <%= @product.manager || 'Unknown' %>
              Progress :     <%= @product.progress || 'Unknown' %>
              Price Europe : <%= to_currency @product.price_eu %>
              Price EU2:     <%= to_currency @product.price_eu2 %>
              Price EU3:     <%= to_currency @product.price_eu3 %>
              Price EU4:     <%= to_currency @product.price_eu4 %>
              Price EU5:     <%= to_currency @product.price_eu5 %>
              Price EU6:     <%= to_currency @product.price_eu6 %>
              Price USD :    <%= to_currency(@product.price_usd, locale: :us) %>
              Price USD2 :   <%= to_currency(@product.price_usd2, locale: :us) %>
              Quantity Available: <%= @product.quantity %>

              <img src="/images/<%= @product.ref_code %>.jpg">
</pre>
<div>
   <%= @product.notes %>
</div>


