<div class="col-md-8 col-md-offset-2">
<h3 class='display-1'><%= yield :title %></h3>
<div class="well">
  
<%= simple_form_for @product do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row" %>
  <div class="col-md-3">
  <%= f.input :ref_code, hint: "Unique product code" %>
  </div>
  <div class="col-md-3">
  <%= f.input :brand, collection: BRANDS, include_blank: false %> 
  </div>
  <div class="col-md-3">
  <%= f.input :category, hint: "Street, racing ..." %>
  </div>
  <div class="col-md-3">
  <%= f.input :ctns, label: 'Pcs x Cartons' %>
  </div>
  </div>

  <div class="row" %>
  <div class="col-md-12">
  <%= f.input :description %>
  </div>
  </div>

  <div class="row" %>
  <div class="col-md-4">
  <%= f.input :scale  %>
  </div>
  <div class="col-md-4">
  <%= f.input :added_date, as: :date, html5: true  %>
  </div>
  <div class="col-md-4">
  <%= f.input :release_date, as: :date,  html5: true  %>
  </div>
  </div>

  <div class="row" %>
  <div class="col-md-4">
  <%= f.input :price_eu %>
  </div>
  <div class="col-md-4">
  <%= f.input :price_eu2 %>
  </div>
  <div class="col-md-4">
  <%= f.input :price_usd %>
  </div>
  </div>

  <div class="row" %>
  <div class="col-md-4">
  <%= f.input :manager %>
  </div>
  <div class="col-md-4">
  <%= f.input :supplier, collection: SUPPLIERS,  include_blank: false %>
  </div>
  <div class="col-md-4">
  <%= f.input :progress, label: '% Complete' %>
  </div>
  </div>

  <%= f.input :notes, as: :text %>
  <% unless action_name == 'show' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>

<% end %>
</div>
</div>


