  <tr>
	<td><%= link_to product.ref_code, product, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %></td> 
	<td class="text-center"><%= product.scale_str %></td> 
	<td class="text-center"><%= product.colour_str %></td> 
        <td><%= product.description %></td>
	<td><%= product.category_str %></td> 
	<td><%= product.brand_str %></td> 
	<td class="text-center"><%= product.ctns %></td> 
	<td class="text-center"><%= product.added_date_str %></td> 
        <td class="text-center"><%= product.release_date_str %></td>
        <% if current_user.client? %>
          <td class="text-center"><%= to_currency(current_client.price(product), locale: current_client.locale) %></td>
        <% elsif current_user.admin? || current_user.staff? %>
          <td class="text-center"><%= to_currency(product.price_eu) %></td>
          <td class="text-center"><%= to_currency(product.price_eu2) %></td>
          <td class="text-center"><%= to_currency(product.price_usd, locale: :us) %></td>
          <td class="text-center"><%= product.supplier_str %></td>
          <td><%= product.manager_str  %></td>
        <% end %>
        <td class="text-center"><%= product.quantity %></td>

        <% if product_editable? %>
          <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_product_path(product), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
        <% end %>
     
        <% if current_user.admin? %>
          <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, product, method: :delete, data: { confirm: "Are you sure you want to delete #{product.ref_code}?" } %> </td>
        <% end %>
     </tr>


