<% cl = nil %>
<% if current_user.client? %>
   <% cl = 'table-success' if in_cart?(product.id)  %>
<% elsif current_user.staff? || current_user.admin? %>
   <% cl = 'table-warning' unless product.active? %>
<% end %>

  <tr class="<%= cl %>">
  <td class="text-center"><%= link_to product.ref_code, product, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', class: cl %></td> 
    <td class="text-center"><%= product.scale_str %></td> 
    <td class="text-center"><%= product.colour_str %></td> 
    <td class="text-center"><%= product.weight.to_i %></td> 
    <td><%= product.description %></td>
    <td class="text-center"><%= product.category_str %></td> 
    <td class="text-center"><%= product.brand_str %></td> 
    <td class="text-center"><%= product.ctns %></td> 
    <td class="text-center"><%= product.release_date_str %></td>
     <%= render("#{current_user.role}_product", product: product) if current_user %>
</tr>


