  <tr align='center'>
	<td><%= link_to product.ref_code, product %></td> 
	<td class="text-center"><%= product.scale_str %></td> 
        <td align='left'><%= product.description %></td>
	<td><%= product.category %></td> 
	<td><%= product.brand_str %></td> 
	<td class="text-center"><%= product.ctns %></td> 
	<td><%= product.added_date_str %></td> 
        <td><%= product.release_date_str %></td>
        <td><%= to_currency(product.price_eu) %></td>
        <% if current_user.admin? || current_user.staff? %>
        <td class="text-center"><%= product.supplier_str %></td>
        <td><%= product.manager  %></td>
        <td><%= product.progress %></td>
        <% end %>
        <td class="text-center"><%= product.quantity %></td>

        <% if product_editable? %>
          <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_product_path(product) %> </td>
        <% end %>
     
        <% if current_user.admin? %>
          <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, product, method: :delete, data: { confirm: "Are you sure you want to delete #{product.ref_code}?" } %> </td>
        <% end %>
     </tr>


