<td class="text-center"><%= to_currency(product.price_eu) %></td>
<td class="text-center"><%= product.supplier_str %></td>
<td class="text-center"><%= product.quantity.abs %></td>
<td class="text-center"><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_product_path(product), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %> </td>
<td class="text-center"><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, disable_product_path(product)  %> </td>
