<div class="row">
  <div class="col-md-6">
      <img src="<%= @product.large_image_rel_path %>">
  </div>
  
<div class="col-md-3 padding-0">
  Scale:       <%= @product.scale_str %> <br>
  Colour:      <%= @product.colour_str %> <br>
  Weight:      <%= @product.weight.to_i %>g <br>
  Category:    <%= @product.category_str %><br>
  Brand:       <%= @product.brand_str %><br>
  Cartons:     <%= @product.ctns %><br>
  Date Added:  <%= @product.added_date_str %><br>
  Release Date: <%= @product.release_date || 'Not set' %><br>
</div>
<div class="col-md-3">
  Supplier:    <%= @product.supplier_str %><br>
  Manager:     <%= @product.manager_str || 'Unknown' %><br>
  Progress:    <%= @product.progress_str || 'Unknown' %><br>
  Active?      <%= @product.active_str %><br>
  Manual price? <%= @product.manual_price_str %><br>
  Pending/Active pcs: <%= @product.pending_qty %> <br>
  Current Stock : <%= @product.stock %> <br>
  Visible to: <%= @product.visible_to_str %>
</div>

<div>&nbsp;</div>
<div class="col-md-6" style="padding-left: 0">
<%= render "price_matrix" %>
</div>

<div class="col-md-12">
 <div> Product Notes </div>
  <div class="panel panel-default">
    <div class="panel-body p-3">
      <%= @product.notes.html_safe rescue '' %>
    </div>
  </div>
</div>
</div>


