<div class="row">
  <div class="col-md-6">
      <img src="<%= @product.large_image_rel_path %>">
  </div>
  
<div class="col-md-3 pt-5">
  Scale:       <%= @product.scale_str %> <br>
  Colour:      <%= @product.colour_str %> <br>
  Weight:      <%= @product.weight.to_i %>g <br>
  Category:    <%= @product.category_str %><br>
  Brand:       <%= @product.brand_str %><br>
  Cartons:     <%= @product.ctns %><br>
  Date Added:  <%= @product.added_date_str %><br>
  Release Date: <%= @product.release_date || 'Not set' %><br>
</div>
<div class="col-md-3 pt-5">
  Supplier:    <%= @product.supplier_str %><br>
  Manager:     <%= @product.manager_str || 'Unknown' %><br>
  Progress:    <%= @product.progress_str || 'Unknown' %><br>
  Active?      <%= @product.active_str %><br>
  Manual price? <%= @product.manual_price_str %><br>
  Pending pcs: <%= @product.pending_qty %> <br>
  Active pcs: <%= @product.active_qty %> <br>
  Current Stock : <%= @product.stock %> <br>
  Visible to: <%= @product.visible_to_str %>
</div>
</div>

<div class="row">
<div>&nbsp;</div>
<div class="col-md-2 col-md-offset-2">
<img src="<%= @product.qr_code %>" >
</div>
<div class="col-md-7 col-md-offset-1">
<%= render "price_matrix" %>
</div>
</div>

<div class="pull-right">
<img src="<%= @product.barcode %>" >
</div>

<% if @product.notes.present? %>
<div class="row">
<div class="col-md-12">
 <div> Product Notes </div>
  <div class="panel panel-info">
    <div class="panel-body p-3">
      <%= @product.notes.html_safe rescue '' %>
    </div>
  </div>
</div>
</div>
<% end %>

<p class="pt-3"></p>
<%= link_to "Shopping Cart Image",  @product.normal_image_rel_path  %> | 
<%= link_to "Full Size Image",  @product.full_size_image_rel_path  %>


