<h4>Product image upload</h4>
<div class="well">

  <h5> Please provide full resolution image named [Ref. Code].jpg </h5>
  <%= simple_form_for @product, url: upload_image_path, html: {multipart: false, class: "dropzone", id:"my-dropzone"}, method: :post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
<div id='dropzone_panel'>
  <div class="dz-message">Drop jpg file here to upload</div>
  <%= f.hint 'If image exists on the server, it will be replaced. Current size limit is 145Mb' %>
</div>
</form>
</div>
<%= f.button :submit, "Upload", class:"btn btn-block btn-primary", id: "submit", disabled: true %>
<% end %>

<script>
  
Dropzone.options.myDropzone = {
paramName: "image[image]",
acceptedFiles: ".jpg,.JPG ",
maxFiles: 1,
maxFilesize: 145, // MB
addRemoveLinks: true,
url: "<%= upload_image_url %>",
autoDiscover: true,
uploadMultiple: false,
autoProcessQueue: false,
//autoQueue: false,

init: function() {
    this.on("addedfile", function() { if (this.files[1]!=null){ this.removeFile(this.files[0]); } });
    this.on("success", function(file) { window.location = "<%= products_path %>"; });
    var submitButton = document.querySelector("#submit")
        myDropzone = this; // closure

    submitButton.addEventListener("click", function() {
      myDropzone.processQueue(); // Tell Dropzone to process all queued files.
      console.log("clicked");
    });

    this.on("addedfile", function(file) {
      var submit = document.getElementById('submit');
      submit.disabled = false;
    });
}
};
  
</script>


