<div class="row">
  <div class="col-md-6">
      <img src="<%= @product.large_image_rel_path %>">
  </div>
  
<div class="col-md-6">
  Scale:       <%= @product.scale_str %> <br>
  Colour:      <%= @product.colour_str %> <br>
  Weight:      <%= @product.weight.to_i %>g <br>
  Category:    <%= @product.category_str %><br>
  Brand:       <%= @product.brand_str %><br>
  Date Added:  <%= @product.added_date_str %><br>
</div>

</div>
</div>

<div>
   <%= @product.notes %>
</div>


