<div class="row">
  <aside class="col-md-6">
    <section>
      <img src="/images/20/<%= @product.ref_code %>.jpg">
    </section>
  </aside>
  
  <div class="col-md-6">
<pre>
Scale:         <%= @product.scale_str %>
Colour         <%= @product.colour_str %>
Weight         <%= @product.weight.to_i %>g
Category:      <%= @product.category_str %>
Brand:         <%= @product.brand_str %>
Release Date:  <%= @product.release_date || 'Not set' %>
    </pre>
  </div>
</div>

<div>
   <%= @product.notes %>
</div>


