<%= render "shared/modal" %>

<% if @products.any? %>
<% if current_user.staff? || current_user.admin? %>
  <div style="float:right"><small>Inactive products are highlighted with yellow; Manual price products with red</small></div>
<% end %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center"><%= sortable 'ref_code', 'Ref.Code' %></th>
          <th class="tbl_md, text-center"><%= sortable 'scale', 'Scale' %></th>
          <th class="tbl_md, text-center"><%= sortable 'colour', 'Colour' %></th>
          <th class="tbl_md, text-center"><%= sortable 'weight', 'Weight' %></th>
          <th class="tbl_lg"><%= sortable 'description', 'Description' %></th>
          <th class="tbl_md, text-center"><%= sortable 'category', 'Category' %></th>
          <th class="tbl_md, text-center"><%= sortable 'brand', 'Brand' %></th>
	  <th class="tbl_md, text-center">Pcs x Ctns</th>
          <th class="tbl_md, text-center"><%= sortable 'release_date', 'Rel. Date' %></th>
          <%= render "#{current_user.role}_index" if current_user %> 
      </tr>
  </thead>
  <tbody>

  <%= render @products, cached: true %>

  </tbody>
</table>
<% end %>

<div class="row">
<% if current_user.admin? || current_user.staff? %>
<div class="bottom_buttons ">
<%= button_to "Add Product", new_product_path, class: "btn btn-primary col-md-2", method: :get, remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window'  %>
</div>
<% end %>

<div class="bottom_nav">
<%= will_paginate @products, class: "btn" %>
</div>
</div>


