<%= render "shared/modal" %>
<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center"><%= sortable 'ref_code', 'Ref.Code' %></th>
          <th class="tbl_md, text-center"><%= sortable 'scale', 'Scale' %></th>
          <th class="tbl_lg"><%= sortable 'description', 'Description' %></th>
          <th class="tbl_md, text-center"><%= sortable 'category', 'Category' %></th>
          <th class="tbl_md, text-center"><%= sortable 'brand', 'Brand' %></th>
	  <th class="tbl_md, text-center">Pcs x Ctns</th>
          <th class="tbl_md, text-center"><%= sortable 'added_date', 'Added' %></th>
          <th class="tbl_md, text-center"><%= sortable 'release_date', 'Release Date' %></th>
          <th class="tbl_sm, text-center"><%= sortable 'price_eu', 'Price EU' %></th>
          <% if current_user.admin? || current_user.staff? %>
          <th class="tbl_sm, text-center"><%= sortable 'price_eu2', 'Price EU2' %></th>
          <th class="tbl_sm, text-center"><%= sortable 'price_usd', 'Price USD' %></th>
          <th class="tbl_md, text-center">Supplier</th>
          <th class="tbl_md, text-center">Manager</th>
          <th class="tbl_sm, text-center">Progress (%)</th>
          <% end %>
          <th class="tbl_md, text-center"><%= sortable 'quantity', 'Quantity' %></th>
          <% if product_editable? %>
          <th>&nbsp;</th>
          <% end %>
          <% if current_user.admin? %>
          <th>&nbsp;</th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @products, remote: device_is_desktop?, cached: true %>

  </tbody>
</table>

<% if current_user.admin? %>
<div class="row">
<div class="bottom_buttons ">
<%= button_to "Add Product", new_product_path, class: "btn btn-primary col-md-2", method: :get %>
</div>
<% end %>

<div class="bottom_nav">
<%= will_paginate @products, class: "btn" %>
</div>
</div>

