<%= simple_form_for @supplier do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>

<div class="col-md-4 col-sm-5 col-md-offset-4 col-sm-offset-4">
  <h3 class='display-1'><%= yield :title %></h3>
<div class="well">

    <%= f.input :company, autofocus: true, autocomplete: "company" %>
    <%= f.input :lname, autofocus: true, autocomplete: "lname" %>
    <%= f.input :fname, autofocus: true, autocomplete: "fname" %>
    <%= f.input :phone, autofocus: true, autocomplete: "phone" %>
    <%= f.input :email, autofocus: true, autocomplete: "email" %>

    <%= f.button :submit, yield(:button_text), class: "btn btn-primary" %>

</div>
</div>
<% end %>
