<tr>
  <td><%= supplier.full_name %></td>
  <td><%= supplier.company %></td>
  <td><%= supplier.phone %></td>
  <td><%= supplier.email %></td>

  <% if current_user.admin? %>
       <td><%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_supplier_path(supplier) %> </td>
       <td><%= link_to '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe, supplier, method: :delete, data: { confirm: "Are you sure you want to delete #{supplier.full_name} from the list of suppliers?" } %> </td>
  <% end %>
 </tr>
