  <% active = 'active' if controller_name == 'users' || controller_name == 'suppliers' || controller_name == 'managers'%>
<li class="<%= active %> dropdown nav-item">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b> </a>
  <ul class="dropdown-menu">
  <li><%= link_to "Users", users_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Suppliers", suppliers_path %></li>
  <li><%= link_to "Managers", managers_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Client Mailer", '#' %></li>
  <li><%= link_to "Export", '#' %></li>
  </ul>
</li>
