<footer>
  <small>
    <img src="/favicon.ico" width="16x16"></img>
    <a href="<%= project_url %>"><%= short_title %></a>  -  &copy; <%= Date.today.year %> - All rights reserved
  </small>
  <nav>
    <ul>
      <small>
      <% if current_user %>
        <li>USD/EUR fx: <%= sprintf "%0.4f", USD_EUR_FX %></li>
        <li>USD/CNY fx: <%= sprintf "%0.4f", USD_CNY_FX %></li>
        <li>EUR/CNY fx: <%= sprintf "%0.4f", EUR_CNY_FX %></li>
        <li class="p-5"></li>
      <% end %>
      <li><%= link_to "About", about_path, target: '_new' %></li>
      <li><%= link_to "Help", help_path, target: '_new' %></li>
      <li><%= link_to "Contact", contact_path, target: '_new' %></li>
      <li><%= link_to "News", news_path, target: '_new' %></li>
      <li><%= link_to "Terms", terms_path, target: '_new' %></li>
      <li><%= link_to "Privacy Policy", privacy_path, target: '_new' %></li>
      </small>
    </ul>
  </nav>
</footer>
