  <%= render 'layouts/find' %>
  <li class="<%= 'active' if controller_name == 'products' %>"><%= link_to "Products", root_path %></li>
  <li><%= link_to "Orders", root_path %></li>
  <li><%= link_to "Clients", root_path %></li>
  <li><%= link_to "Users", root_path %></li>
