  <li class="navbar-text active">user <%= current_user.email %></li>
  <li style="width:40px">&nbsp;</li>
  <%= render 'layouts/find' %>

  <li > 
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b> </a>
<ul class="dropdown-menu">
<li><%= link_to "Item 1", root_path %></li>
<li><%= link_to "Item 2", root_path  %> </li>
<li> <%= link_to "Item 3", root_path, method: :get %> </li>
</ul>
</li>

