  <%= render 'layouts/find' %>
  <li class="<%= 'active' if controller_name == 'products' && action_name=='index' %>"><%= link_to "Products", products_path %></li>
  <li class="<%= 'active' if controller_name == 'clients' %>"><%= link_to "Clients", clients_path %></li>
  <li class="<%= 'active' if controller_name == 'orders' %>"><%= link_to "Orders", orders_path %></li>
  <li class="<%= 'active' if action_name == 'show_inventory' %>"><%= link_to "Inventory", show_inventory_path %></li>
  <%= render 'layouts/documents' %>

