  <%= render 'layouts/find' %>

  <li class="<%= 'active' if controller_name == 'products' %>"><%= link_to "Products", products_path %></li>
  <li class="<%= 'active' if controller_name == 'clients' %>"><%= link_to "Clients", clients_path %></li>
  <li class="<%= 'active' if controller_name == 'orders' %>"><%= link_to "Orders", orders_path %></li>
  <li class="<%= 'active' if controller_name == 'inventories' %>"><%= link_to "Inventory", inventories_path %></li>
  <%= render 'layouts/reports' %>
