  <%= render 'layouts/find' %>

  <li class="<%= 'active' if controller_name == 'products' %>"><%= link_to "Products", products_path %></li>
  <li class="<%= 'active' if controller_name == 'clients' %>"><%= link_to "Clients", clients_path %></li>
  <%= render 'layouts/orders' %>
  <li><%= link_to "Reports", reports_path %></li>
