<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/metatags' %>
    <%= render 'layouts/rails_default' %>
    <link rel="icon"  href="/favicon.ico" sizes="16x16" />
  </head>

  <body>
  <div class="container">
    <%= render 'layouts/navigation' %>

   <div id="body">
      <%= render 'layouts/messages' %>
      <%= yield %>
   </div>
  </div>

   <div class="footer navbar-fixed-bottom">
      <%= render 'layouts/footer'  %>
      <%# debug(params) if DEBUG_FLAG  %>
   </div>
  </body>
</html>

