  <tr>
    <td class="text-center"><%= ppo.id %></td> 
    <td class="text-center"><%= ppo.name %></td> 
    <td class="text-center"><%= ppo.product.ref_code %></td> 
    <td class="text-center"><%= ppo.date %></td> 
    <td class="text-center"><%= ppo.status_str %></td> 
</tr>


