<%= render "shared/modal" %>

<% if @ppos.any? %>
<table class="table table-hover table-striped table-bordered" >
  <% if @product %>
    <caption><%= @product.ref_code %> : <%= @product.description %>:  List of active PPOs</caption>
  <% else %>
    <caption>List of Active Production Purchase Orders</caption>
  <% end %>
  <thead>
      <tr>
          <% unless @product %>
          <th class="text-center">Product</th>
          <% end %>
          <th class="text-center">PPO</th>
          <th class="text-center">Date</th>
          <th class="text-center">Orders</th>
          <th class="text-center">Pcs</th>
          <th class="text-center">Shipped</th>
          <th class="text-center">Status</th>
          <th class="tbl_sm"></th>
          <th class="tbl_sm"></th>
          <th class="tbl_sm"></th>
          <% if current_user.su? %>
          <th class="tbl_sm"></th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @ppos, cached: true %>

  </tbody>
</table>

<%= button_to "Export All To CSV", export_ppos_path, class: "btn btn-primary col-md-2", method: :get %>
<% end %>

<div class="bottom_nav">
<%= will_paginate @ppos, class: "btn" %>
</div>
</div>


<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>


