<%= render "shared/modal" %>

<% if @ppos.any? %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <caption><%= @product.ref_code %> : <%= @product.description %>:  List of active PPOs</caption>
  <thead>
      <tr>
          <th class="tbl_md, text-center">Name</th>
          <th class="tbl_sm, text-center">Date</th>
          <th class="tbl_md, text-center">Orders</th>
          <th class="tbl_sm, text-center">Pcs</th>
          <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @ppos, cached: true %>

  </tbody>
</table>
<% end %>

<div class="row">
  <div class="col-md-5">
<%= button_to "Back To Inventory", inventories_path, class: "btn btn-success", method: :get %>
  </div>
</div>

<div class="bottom_nav">
<%= will_paginate @ppos, class: "btn" %>
</div>
</div>


