<%= render "shared/modal" %>

<% if @ppos.any? %>
<table class="tbl2 table-hover table-striped table-bordered" >
  <% if @product %>
    <caption><%= @product.ref_code %> : <%= @product.description %>:  List of active PPOs</caption>
  <% else %>
    <caption>List of Production Purchase Orders</caption>
  <% end %>
  <thead>
      <tr>
          <% unless @product %>
          <th class="tbl_md, text-center">Product</th>
          <% end %>
          <th class="tbl_md, text-center">Name</th>
          <th class="tbl_sm, text-center">Date</th>
          <th class="tbl_md, text-center">Orders</th>
          <th class="tbl_sm, text-center">Pcs</th>
          <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render @ppos, cached: true %>

  </tbody>
</table>
<% end %>

<%= button_to "Export To CSV", export_ppos_path, class: "btn btn-primary col-md-2", method: :get %>

<div class="bottom_nav">
<%= will_paginate @ppos, class: "btn" %>
</div>
</div>


